name: PR Dataset and Notebook Upload

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  upload-to-kaggle:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install kaggle papermill

    - name: Configure Kaggle API
      run: |
        mkdir -p ~/.kaggle
        echo "{\"username\":\"${{ secrets.KAGGLE_USERNAME }}\",\"key\":\"${{ secrets.KAGGLE_KEY }}\"}" > ~/.kaggle/kaggle.json
        chmod 600 ~/.kaggle/kaggle.json

    - name: Create Kaggle Dataset src
      run: |
        pr_number=$(printf "%04d" ${{ github.event.number }})
        dataset_slug="myproject-pr-${pr_number}"
        dataset_dir="dataset-${pr_number}"
        mkdir -p $dataset_dir
        cp -r src/* $dataset_dir/

        cat <<EOF > $dataset_dir/dataset-metadata.json
        {
          "title": "MyProject PR ${pr_number}",
          "id": "${{ secrets.KAGGLE_USERNAME }}/${dataset_slug}",
          "licenses": [{"name": "CC0-1.0"}]
        }
        EOF

        if kaggle datasets status $dataset_slug; then
          echo "Dataset exists. Updating..."
          kaggle datasets version -p $dataset_dir
        else 
          echo "Dataset does not exists. Creating..."

          kaggle datasets create -p $dataset_dir --dir-mode zip
        fi

        # - name: Generate Notebook with Papermill
        #   run: |
        #     pr_number=$(printf "%04d" ${{ github.event.number }})
        #     output_notebook="notebooks/pr_${pr_number}.ipynb"
        #     papermill notebooks/template.ipynb $output_notebook -p dataset_slug "myproject-pr-${pr_number}"

    - name: Upload Notebook to Kaggle
      run: |
        pr_number=$(printf "%04d" ${{ github.event.number }})
        nb_dir="submit_notebook"

        cat <<EOF > $nb_dir/kernel-metadata.json
        {
          "id": "${{ secrets.KAGGLE_USERNAME }}/pr-${pr_number}",
          "title": "PR ${pr_number} Submission",
          "code_file": "submit.ipynb",
          "language": "python",
          "kernel_type": "notebook",
          "is_private": true,
          "enable_gpu": false,
          "enable_internet": false,
          "datasets": [
            "neurips-open-polymer-prediction-2025",
            "koya346/myproject-pr-${pr_number}",
            "senkin13/rdkit-2025-03-03-cp311",
            "minatoyukinaxlisa/tc-smiles",
            "dmitryuarov/smiles-extra-data"
          ]
        }
        EOF

        kaggle kernels push -p $nb_dir

